.ctrl-item {
  display: block;
  position: absolute;
  width: 20%;
	height: 100px;
	margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.ctrl-item.muuri-item-dragging {
	z-index: 3;
	background: blue;
}
.ctrl-item.muuri-item-releasing {
	z-index: 2;
	background: blueViolet;
}
.ctrl-item.muuri-item-hidden {
  z-index: 0;
}
.ctrl-item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
